.Nav{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.Nav h1{
    color: #f1356d;
}

.Nav .Links{
    margin-left: auto;
}

.Nav a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.Nav a:hover{
    color: #f13568;
}
